/* google font */
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style:normal;
}
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0%;
    padding: 0%;
}

/* bg image */
.bg{
    background-image: url(../Assets/Hero-bg.png);
    background-size: cover;   
    /* height: 600px;       */

}

/* navbar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}    

.nav-title{
    font-weight: bolder;
    font-size: 34px;
    color: #4E47FF;
}
.sign-btn{
    font-weight: normal;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 8px 20px;
}

/* banner */
.heading{
    color: #252432;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    /* margin-bottom: 5px; */
    margin-top: 50px;
    padding: 50px 20px; 
}
.stay-btn{
    font-weight: normal;
    color: white;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    /* margin-top: 20px; */
    margin-bottom: 50px;
}

/* action-bar */
.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 160px 160px 100px 200px;
    /* gap: 280px; */
    width: 75%;
   
}
.action-title{
    font-size: 150px;
    color: #252432;
    font-weight: bolder;
    margin-top: 150px;
    margin-bottom: 180px;
    margin-left: 40px;
}

.para{   
    color: #47455E;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
img{
    border-radius: 40px;
    width: 403px;
    height: 328px;
}

/* main-section */
.main-style{
    max-width: 1140px;
    margin: 0 auto;
}

/* user-action */
.bg-c{
    background-color: #E8ECF7;
}
.users{
    background-color: #D1D0E7;
    border-radius: 10px;
    padding: 50px 80px;
    text-align: center;
}

.users-title{
    color: #252432;
    font-weight: bold;
    font-size: 38px;

}


/* box+item */
.box-item{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.item-title{
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.item-descrip{
    font-size: 20px;
    font-weight: 500;
    color: #47455E;
}



/* icon */
.all-card{
    display: flex;
    align-items: center;
    gap: 40px;
}
#users-say{
    margin-top: 80px;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.icon{
    height: 20px;
    width: 20px;
}

.card{
    padding: 5px 5px;
    text-align: left;
    background-color: white;
    padding: 50px;
}

.love{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.temp{
   margin-top: 20px;
   margin-bottom: 25px;
}

.avatar{
    display: flex;
    gap: 15px;
    align-items: center;

}
.avatar-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}



/* form section */
.fm-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 200px;
}
.touch-line{
    font-size: 57px;
    font-weight: bold;
}
.right-box{
    margin-left: 10px;
}
.form-input{
    height: 70px;
    width: 400px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
   padding-left: 20px;
}
#form-msg{
    height: 120px;
    width: 400px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
}
.form-div{
    margin-top: 10px;
}
.get-btn{
    background-color: #4E47FF;
    color: white;
    width: 420px;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    border: none;
    font-weight: 600;
}